<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Добавление дополнительной услуги</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/4.0.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<tbody>
<div class="container">
    <h2>Добавить услугу</h2>
    <form th:method="POST" th:action="@{/guest/add/service/{reservationId} (reservationId = ${renderedservice.reservationId})}" >

        <div class="form-group blu-margin">
        <select th:field="*{service.serviceName}" name="service">
            <option value="">Выберите услугу</option>
        <option th:each="serviceName : ${services}"
                th:value="${serviceName}"
                th:text="${serviceName}"></option>
        </select>
        </div>

        <br/>
        <p></p>
        <span class="label label-info">Дата заказа</span>
        <input type="date" th:field="*{renderedservice.orderDate}" name="renderedservice"/>

        <input type="submit" class="btn btn-default" value="Добавить услугу"/>

    </form><p></p>
    <p></p>
            </div>
            <span th:utext="${successMessage}"></span>
            <div class="alert alert-success alert-dismissible col-sm-12"
                 th:if="${(bindingResult != null && bindingResult.getAllErrors() != null)}">
                <button type="button" class="close" data-dismiss="alert"
                        aria-hidden="true">×</button>
                <ul th:each="data : ${bindingResult.getAllErrors()}">
                    <li th:text="${data.getObjectName() + ' :: ' + data.getDefaultMessage()}"></li>
                </ul>
        </form>
    </div>
</div>
<a th:href="@{/guest/}" class="list-group-item">Главная</a>
</tbody>
</html>