<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Свободные комнаты</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/4.0.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Номер</th>
        <th scope="col">Количество комнат</th>
        <th scope="col">Стоимость проживания</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="room: ${rooms}">
        <td><span th:text="${room.roomId}">Номер</span></td>
        <td><span th:text="${room.roomNumber}">Количество комнат</span></td>
        <td><span th:text="${room.costOfLiving}">Стоимость проживания</span></td>

    </tr>
    </tbody>
</table>

<p></p>
<a th:href="@{/guest/}" class="list-group-item">Главная</a>
</body>
</html>