<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Личная информация</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/4.0.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Фамилия</th>
        <th scope="col">Имя</th>
        <th scope="col">Отчество</th>
        <th scope="col">Номер телефона</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><span th:text="${manager.surname}">Фамилия</span></td>
        <td><span th:text="${manager.name}">Имя</span></td>
        <td><span th:text="${manager.patronymic}">Отчество</span></td>
        <td><span th:text="${manager.phoneNumber}">Номер телефона </span></td>
    </tr>
    </tbody>
</table>
<p></p>
<a th:href="@{/manager/}" class="list-group-item">Главная</a>
</body>
</html>